{
  "CN": "{{ certificate_cn }}",
  "hosts": [
      "localhost",
      "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "PH",
      "L": "AVCN",
      "O": "WIML",
      "OU": "Hassio",
      "ST": "Laguna"
    }
  ]
}
